body {
	margin: 0;
	padding: 0;
	overflow: hidden;

}
#logo {
    width: 100%;
    display: block;
    height: 75vh;
    margin: 0 auto;
    margin-top: 12.5vh;
}

footer{
	color: #FAFAFF;
	position: fixed;
	font-size: 20px;
	bottom: 5px;
	font-family: 'Dawning of a New Day', cursive;
	left: 5px;
}
