body {
	margin: 0;
	padding: 0;
	overflow: hidden;

}
#logo {
    width: 100%;
    display: block;
    height: 75vh;
    margin: 0 auto;
	margin-top: 12.5vh;
	z-index: 1;
	position: absolute;
}

/* pSVG{
	position: absolute;
	width: 100%;
	z-index: 1;
} */

footer{
	color: #FAFAFF;
	position: fixed;
	font-size: 20px;
	bottom: 5px;
	font-family: 'Dawning of a New Day', cursive;
	left: 5px;
}

defaultCanvas0{
	position: absolute;
	top: 0;
	z-index: 0;
	opacity: 0;
}