body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/*.image1{
	position: relative;
	display: block;
	margin: 0 auto;
	opacity: 1;
	transition: 0.15s linear;
	margin-top: 5em;
}*/

#logo {
	width: 550px;
  display: block;
  margin: 0 auto;
	margin-top: 1em;
}

@media screen and (max-width: 480px) {
	#logo {
		width: 350px;
		margin-top: 5em;
	}
}

#Pink:hover{
	fill: #5c832f;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#Blue:hover{
	fill: #eb7f00;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#Yellow:hover{
	fill: #36175e;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#Green:hover{
	fill: #d3264c;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#dBlue:hover{
	fill: #ffffff;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#dYellow:hover{
	fill: #000000;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#dRed:hover{
	fill: #acf0f2;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
#lBlue:hover{
	fill: #b9121b;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	background-color: blue;
	box-shadow: 250px 250px 250px #ffffff;
}
/*nav ul li{
	display: inline-block;
	list-style-type: none;
	padding:  5px 15px;
	margin: 0;
	text-align: bottom;
	font-family: sans-serif;
}*/

footer{
	color: white;
	position: fixed;
	bottom: 5px;
	left: 5px;
}
