body {
	margin: 0;
}

header {
	color: white;
	background-image: #555;
	padding: 5px 15px;
	width: 50%;
	position: relative;
	left: 46.6667%;
	margin-top: -6em;

}
.devilhead{
	font-family: sans-serif;
	text-align: right;
	margin-top: 4.2em;
	margin-right: 1.75em;
}
.hanginglake{
	font-family: sans-serif;
	text-align: right;
	margin-top: -2.2em;
	margin-right: 14em;
}
/*.chataqua{
	font-family: sans-serif;
	text-align: right;
	margin-top: 2.2em;
	margin-right: 15em;
}*/
/*h4{
	font-family: sans-serif;
	text-align: right;
	margin-top: 3em;
	margin-right: 1.75em;
}*/
header h1{
	display: inline;
}
nav ul{
	text-align: right;
	margin-right: 10;


}
.line {
	width: 32.4%;
	height: 3px;
	background: gold;
	right: 30px;
	position: absolute;
	margin-top: -1em;
}
.image1{
	margin-left: 10;
	position: relative;
	left: 20px;

}
.devil{
	margin-left: 10;
	position: relative;
	left: 1125px;
	top: 80px;
}
.lake{
	margin-left: 10;
	position: relative;
	left: 680px;
	top: 80px;
}
/*.chataqua{
	margin-left: 10;
	position: relative;
	left: 580px;
	top: 300px;
}*/

nav ul li{
	background: tomato;
	/*color: lightslategray;*/
	color: black;
	display: inline-block;
	list-style-type: none;
	padding:  5px 15px;
	margin: 0;
	text-align: right;
	font-family: sans-serif;

}

hr{
	text-align: right;
	width: 50%;

}
footer{
	color: mediumvioletred;
	position: fixed;
	bottom: 5px;
	left: 5px;

}
