#pujanInfo {
  padding: 2.5vh 5vh 5vh 5vh;
  font-family: 'Josefin Slab', serif;
  font-weight: 300;
  font-size: 2vh;
  position: absolute;
  left: 20%;
  right: 20%;
  height: 50vh;
  top: 20%;
}

#titleHeader {
  float: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  font-size: 3vh;
}

#icons {
  width: 8%;
  padding: 2%;
  margin: 8%;
}
#linkedin {
  width: 16%;
  padding: 4%;
  margin: 8%;
}
p {
  text-align: center;
}
#img {
  cursor: pointer;
}
