.App {
  padding: -10px;
}

#mainLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
}

#navBar {
  background-color: black;
  width: 100%;
  height: 50px;
  position: relative;
  font-family: 'Poiret One', cursive;
}

#navBarButton {
  color: #fafaff;
  position: absolute;
  bottom: 30%;
  left: 1%;
}

.tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.tile.hidden {
  display: none;
}

/* .labelID {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  outline-style: none;
} */

.aboutID {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  outline-style: none;
  opacity: 0;
}

.projectsID {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  outline-style: none;
  opacity: 0;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#about {
  /* background-color: #ed7d3a; */
  background-color: #f7f7fc;
  margin-right: auto;
  float: left;
}

#about:hover > .aboutID {
  opacity: 1;
  transition: ease-in-out 0.7s;
}

#projects {
  /* background-color: #89608e; */
  background-color: #1f2421;
  margin-left: auto;
  float: right;
}

#projects:hover > .projectsID {
  opacity: 1;
  transition: ease-in-out 0.7s;
}

#travel {
  background-color: #7dd181;
  float: left;
}

#extra {
  background-color: #30bced;
  margin-left: auto;
  float: right;
}

.App-intro {
  font-size: large;
}

.projectsID:link {
  color: #f7f7fc;
}
.projectsID:visited {
  color: #f7f7fc;
}
.projectsID:hover {
  color: #fc4862;
}
.projectsID:active {
  color: #f7f7fc;
}

a:link {
  text-decoration: none;
  color: #1f2421;
}

a:visited {
  text-decoration: none;
  color: #1f2421;
}

a:hover {
  color: #fc4862;
}

a:active {
  color: #1f2421;
  text-decoration: none;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif; 
font-family: 'Raleway', sans-serif;*/
